* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
}
header {
    background-color: gray;
    text-align: center;
}
header h1 {
    padding: 10px;
    font-size: 1.8em;
}
nav {
    display: none;
}
nav li {
    background-color: rgb(77, 77, 77);
    margin-bottom: 2px;
}
nav li:hover {
    background-color: rgb(97, 97, 97);
}
nav a{
    text-align: cente;
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px;
}
.burguer{
    display: block;
    color: white;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
    padding: 10px;
    margin-bottom: 2px;
}
.burguer:hover {
    background-color:  rgb(255, 255, 255);
    color: black;
}
main {
    max-width: 600px;
    margin: 10px auto ;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}
main h1{
    text-align: center;
    margin-bottom: 10px;

}
main p {
    line-height: 20px;
    text-indent: 30px;
    margin-bottom: 15px;
    text-align: justify;
}
@media screen and (min-width: 768px) {
.burguer {
    display: none;
}
nav li {
    display: inline-block;
}
nav ul {
    text-align: left;
    background-color: rgb(77, 77, 77);
}
}